vllm==0.6.1.post1
torch==2.4.0
transformers @ git+https://github.com/huggingface/transformers@21fac7abba2a37fae86106f87fcf9974fd1e3830
openai==1.45.0
pandas==2.2.2
aiohttp==3.10.6
qwen-vl-utils==0.0.8
